.flex {
  display: flex;
}

.flex-end {
  justify-content: end;
}

.flex-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.fixed {
  position: fixed;
  right: 40px;
  bottom: 0;
}
