.grid {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  grid-gap: 8px;
}

@media only screen and (max-width: 768px) {
  /* For mobile phones: */
  .grid {
    grid-template-columns: 1fr;
  }

  .container {
    margin: 0;
  }
}
