.grid {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  grid-gap: 8px;
}

#img-small {
  display: none;
}

@media only screen and (max-width: 968px) {
  /* For mobile phones: */
  .grid {
    grid-template-columns: 1fr;
  }

  .container {
    margin: 0 10vw 0 10vw;
  }

  .card img {
    width: 80vw;
  }

  #img-big {
    display: none;
  }

  #img-small {
    display: block;
  }
}
